{
    "strategies": {
        "alligator": {
            "apiKey": "",
            "secret": "",
            "subAccountName": "",
            "slack": {
                "url": "",
                "username": "",
                "channel": "",
            },
            "options":{
                "tpEnabled": false
            }
        }
    }
}